$headerHeightDesktop: 160px;
$headerHeightMobile: 64px;
.header {
  display: flex;
  flex-direction: row;
  background-color: #fe9436;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  @media screen and (max-width: 480px) {
    height: $headerHeightMobile;
  }
  @media screen and (min-width: 481px) {
    height: $headerHeightDesktop;
  }
  .header-title {
    font-size: calc(14px + 2vmin);
    flex: 1;
    color: white;
    text-align: center;
    @media screen and (max-width: 480px) {
      margin-left: $headerHeightMobile;
    }
    @media screen and (min-width: 481px) {
      margin-left: $headerHeightDesktop;
    }
  }
  img {
    @media screen and (max-width: 480px) {
      height: $headerHeightMobile;
    }
    @media screen and (min-width: 481px) {
      height: $headerHeightDesktop;
    }
  }
}
